body {
  background-color: #d62340;
  font-family: 'Helveticaneue condensed', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #feb5c2;
  font-size: 4.46em;
  line-height: 0.8em;
}

.byline {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ff8ca4;
  font-size: 3.4em;
  line-height: 0.8em;
  font-weight: 700;
}

.date {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
  font-size: 2.166em;
  line-height: 1em;
}

.email-label {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  color: #ff8ca4;
  font-size: 2.166em;
  line-height: 1em;
}

.form-block {
  width: 50%;
  margin-bottom: 5px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  width: 300px;
  height: 38px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  border-style: none;
  background-color: #ff8ca4;
  color: #000;
  font-size: 0.7em;
  letter-spacing: 0.5px;
}

.send-button {
  height: 38px;
  padding: 5px 8px 5px 10px;
  background-color: #f7f6f7;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #d0223f;
  font-size: 0.7em;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.send-button:hover {
  background-color: #000;
  color: #f7f6f7;
}

.social-holder {
  display: none;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link {
  margin-right: 5px;
  padding: 5px;
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.social-link:hover {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.colophon {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
}

.privacy-link {
  display: block;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  color: #a0a0a0;
  font-size: 1em;
  text-decoration: none;
}

.privacy-link:hover {
  border-bottom-color: #a0a0a0;
}

.title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -8px;
  color: #000;
  font-size: 6.71em;
  line-height: 0.8em;
}

.colophon-2 {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
}

.privacy-link-2 {
  border-bottom: 1px solid transparent;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  color: #a0a0a0;
  text-decoration: none;
}

.privacy-link-2:hover {
  border-bottom-color: #a0a0a0;
}

.footer-link {
  margin-top: 5px;
  margin-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  color: #000;
  font-size: 1.2em;
  line-height: 1.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  border-bottom-color: #000;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #d0223f;
  color: #000;
  font-size: 1.71em;
}

.email-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.role {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  color: #f77c96;
  font-size: 0.6em;
  line-height: 1em;
  font-weight: 700;
}

.keri {
  margin-top: 0px;
  color: #facad2;
  font-size: 4.46em;
  line-height: 0.8em;
}

@media (max-width: 991px) {
  .email-label {
    font-size: 1.5em;
    line-height: 1em;
  }
  .form-block {
    width: 100%;
  }
  .text-field {
    height: auto;
    font-size: 0.8em;
  }
  .send-button {
    height: auto;
    padding: 10px 20px 10px 23px;
    font-size: 0.8em;
  }
  .footer-link {
    margin-right: 0px;
  }
  .body {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 21px;
  }
  .email-input {
    height: 40px;
  }
}

@media (max-width: 767px) {
  .main-container {
    width: 100%;
    height: 100%;
  }
  .name {
    margin-bottom: 5px;
    font-size: 5.5em;
  }
  .byline {
    margin-top: 0px;
    font-size: 4em;
    line-height: 0.8em;
  }
  .date {
    font-size: 2em;
  }
  .email-label {
    padding-bottom: 10px;
    font-size: 2em;
  }
  .form-block {
    max-width: 550px;
    margin-bottom: 20px;
  }
  .form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-field {
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .send-button {
    height: auto;
    font-size: 1em;
  }
  .title {
    margin-left: -2px;
    font-size: 8em;
  }
  .footer-link {
    font-size: 1.25em;
    line-height: 1px;
  }
  .body {
    padding: 20px 10px 10px 15px;
    font-size: 16px;
  }
  .email-input {
    width: 100%;
    height: auto;
  }
  .role {
    margin-left: 0px;
    font-size: 0.8em;
    line-height: 1.4em;
  }
  .keri {
    margin-bottom: 5px;
    font-size: 5.5em;
  }
}

@media (max-width: 479px) {
  .name {
    font-size: 5.5em;
  }
  .byline {
    line-height: 0.9em;
  }
  .date {
    font-size: 3em;
    line-height: 1em;
  }
  .email-label {
    margin-bottom: 5px;
    padding-bottom: 0px;
    font-size: 2.5em;
  }
  .form-block {
    max-width: 350px;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-field {
    font-size: 2em;
  }
  .send-button {
    font-size: 2em;
  }
  .title {
    margin-left: 0px;
    padding-top: 5px;
    font-size: 8em;
  }
  .footer-link {
    font-size: 2em;
  }
  .body {
    padding-top: 10px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
  }
  .role {
    padding-top: 5px;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .keri {
    font-size: 5.5em;
  }
}

/* @font-face {
  font-family: 'Helveticaneue condensed';
  src: url('../fonts/HelveticaNeue-Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue condensed';
  src: url('../fonts/HelveticaNeue-Condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */
