
body {
  background-color: #000000;
}
.global-wrapper {
    background-color: #000000;
}
/* MENU */

  .w--current > .nav-link-text {
    color: #dca826;
  }

@media (max-width: 991px) {
.nav-menu-bg {
  display: none;
  }
  .w--current > .nav-link-text {
    color: #ffffff;
  }
}


/* GENERAL */
.text-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-bottom: 1px solid #fff;
}

.text-link:hover {
  border-bottom: 1px solid transparent;
}


/* HEADER IMAGES */

.header-section {
  background-color: #000000;
  background-image: url('../_images/HERO-IMAGE_DESK.jpg');
}

@media (max-width: 991px) {
.header-section {
  background-image: url('../_images/HERO-IMAGE_MOB2x.jpg');
  background-position: 50% -21%;
  background-size: cover;
  }
}

@media (max-width: 991px) and (min-aspect-ratio: 5/6) {
    .header-section {
      background-image: url(../_images/HERO-IMAGE_DESK.jpg);
      background-position: 50% 70px;
      height: 61vh;
      background-size: contain;
  }
}

@media (max-width: 480px) and (max-aspect-ratio: 3/4){
.header-section {
  background-image: url(../_images/HERO-IMAGE_MOB2x.jpg);
      background-position: 0 61px;
      background-size: contain;
      height: 96vh;
  }
}

@media (min-aspect-ratio: 7/6) {
    .header-section {
    background-position: 50% 80px;
    height: 82vh;
  }
}

@media (min-aspect-ratio: 8/6) {
    .header-section {
      background-position: 50% 75px;
      height: 91vh;
  }
}

@media (min-aspect-ratio: 9/6) {
    .header-section {
      background-position: 50% 68px;
      height: 100vh;
  }
}

@media (min-aspect-ratio: 10/6) {
    .header-section {
      background-position: 50% 48px;
      height: 100vh;
  }
}

@media (min-aspect-ratio: 2/1) {
    .header-section {
      background-position: 50% 48px;
      height: 118vh;
  }
}


.image-section-1 {
  background-image: url('../_images/181221_RPM_BURN_THIS_S6_001.jpg');
}

.image-section-2 {
  background-image: url('../_images/181221_RPM_BURN_THIS_S3_096.jpg');
}

.image-section-3 {
  background-image: url('../_images/Group-341.jpg');
}
  /* Responsive fixes */

  @media (min-width: 992px) and (max-width: 1200px) {
    .menu-item {
    padding: 22px 5px 25px;
    }

    .nav-link-bar {
      left: -5px;
    }
  }


/* TICKETS SECTION */
.ticket-text a {
  position: static;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-bottom: 1px solid #fff;
  font-family: Helveticaneuemed;
}

.ticket-text a:hover {
  border-bottom: 1px solid transparent;
}

.get-tickets-text {
  margin-left: 55px;
}

@media (max-width: 767px) {
.get-tickets-text {
      margin-left: 45px;
    }
}

.hudson-button {
  max-width: 400px;
}

@media (max-width: 991px) {
  .hudson-button {
    max-width: 300px;
  }
}

.blank-section.section-8 {
  height: 200px;
}

/* CAST SECTION */
.cast-image {
  height: 300px;
  width: 200px;
}

.cast-block img {
  width: 100%;
}

a h3.cast-name {
  -webkit-transition: all 300ms cubic-bezier(.445, .05, .55, .95);
  transition: all 300ms cubic-bezier(.445, .05, .55, .95);
}

a:hover h3.cast-name {
    color: hsla(49.0909090909091, 98.02%, 39.61%, 1.00);
}

a h3.creative-name {
  -webkit-transition: all 300ms cubic-bezier(.445, .05, .55, .95);
  transition: all 300ms cubic-bezier(.445, .05, .55, .95);
}

a:hover h3.creative-name {
    color: hsla(49.0909090909091, 98.02%, 39.61%, 1.00);
}
/* NEWS SECTION */
.news-section .w-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
  .news-section .w-container {
    max-width: 640px;
    margin: 0 auto;
  }
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    max-width: 1140px;
    z-index: 1;
}
@media (max-width: 991px) {
  .swiper-container {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.news-swiper {
  margin: 1em auto 0 auto;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.swiper-slide {
  width: 33.33333%;
}

.swiper-content {
  text-align: center;
}

.swiper-slide a {
  text-decoration: none;
}

.news-image-container {
  width: auto;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 10px 20px 10px;
}

.news-image-container:hover {

}

.news-image {
  border-radius: 10px;
}

.pagination-holder {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1em 0;
  text-align: center;
}

.swiper-pagination {
  position: relative !important;
  height: 20px;
}

.swiper-pagination-bullet {
  display: none;
  margin: 0 4px !important;
  border: solid 1px #fff;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 11px !important;
  background: #007aff;
  height: 11px !important;
  background: #fff !important;
}

.swiper-button-next {
  position: absolute;
  top: 40%;
  right: 3px;
  left: auto;
  fill: #000000 !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  position: absolute;
  top: 40%;
  left: -3px;
  right: auto;
  fill: #000000 !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-disabled {
  opacity: 0 !important;
}


@media (max-width: 640px) {
  .swiper-container {
    max-width: 80vw;
    margin: 0 auto;
  }
  .news-image-container {
    width: auto;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 10px 20px 10px;
  }
}
@media (max-width: 630px) {
  .news-section .w-container {
    max-width: 570px;
  }
}

@media (max-width: 425px) {
  .news-section .w-container {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .news-image-container {
    width: 240px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 15px 0;
  }
}

/* FAQ */

.ui-accordion .ui-accordion-header {
  margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: 1px solid hsla(0, 0%, 100%, .54);
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    font-family: Helveticaneuelt;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
}
.ui-accordion .ui-accordion-content {
    padding: 0 1em;
}
.ui-accordion .answer {
  padding: 0px 20px 0px 20px;
}
h4:focus {
  outline: none;
}
h4.ui-accordion-header-active {
  color: #80b8d9;
}
.answer-text {
  margin-right: 30px;
}
.faq-arrow {
  width: 0;
  height: 0;
  border-style: solid;border-width: 10px 7.5px 0 7.5px;
  border-color: #D3A826 transparent transparent transparent;
  -ms-transition: -ms-border .4s ease-in-out;
  transition: border .4s ease-in-out;
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-40%);
  -webkit-backface-visibility: hidden;
}
.ui-accordion-header-active .faq-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #D3A826 transparent;
}
.ui-accordion .ui-accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* FORM OVERRIDES */
.signup-wrapper {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.form-wrapper {
  display: block;
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.signup-input {
  width: 500px;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: text;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
}

.signup-submit {
  width: 115px;
  height: 25px;
  padding: 8px 12px;
  border: 1px solid #c19a01;
  background-color: #bb9b33;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Lulo Clean Bold', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
}

.signup-submit:hover {
  border: 1px solid #c19a01;
  background-color: #000;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.signup-input {

}
.signup-submit {
  height: 49px;
}


@media (max-width: 660px) {
  .email-wrapper {
    font-size: .75em;
  }
  .signup-input {
      width: 250px;
  }
}


@media (max-width: 375px) {
  .signup-input {
      width: 140px;
  }
}
.submit-button.send-button {
  width: 115px;
  height: 49px;
  padding: 13px 17px;
  border: 1px solid #c19a01;
  background-color: #c19a01;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Lulo Clean Bold', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
}

.submit-button.send-button:hover {
  border: 1px solid #c19a01;
  background-color: #000;
}

.form {
  justify-content: center;
}

.preview-line {
  margin-top: 0;
}
