/* MENU */
  /* Responsive fixes */

  @media (min-width: 992px) and (max-width: 1200px) {
    .menu-item {
    padding: 22px 5px 25px;
    }
  }

  .w--current > .nav-link-text {
    color: hsla(49.0909090909091, 98.02%, 39.61%, 1.00);
  }

.get-tickets-text {
  margin-left: 55px;
}

@media (max-width: 767px) {
.get-tickets-text {
      margin-left: 45px;
    }
}


.home-section.section-8 {
  height: 200px;
}

/* CAST SECTION */
.cast-image {
  height: 300px;
  width: 200px;
}

/* NEWS SECTION */
.news-section .w-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
  .news-section .w-container {
    max-width: 640px;
    margin: 0 auto;
  }
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    max-width: 1140px;
    z-index: 1;
}
@media (max-width: 991px) {
  .swiper-container {
    max-width: 80vw;
    margin: 0 auto;
  }
}


@media (max-width: 640px) {
  .swiper-container {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.news-swiper {
  margin: 1em auto 0 auto;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.swiper-slide {
  width: 33.33333%;
}

.swiper-content {
  text-align: center;
}

.swiper-slide a {
  text-decoration: none;
}

.news-image-container {
  width: auto;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 10px 20px 10px;

}

.news-image-container:hover {

}

.news-image {
  border-radius: 10px;
}

.pagination-holder {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1em 0;
  text-align: center;
}

.swiper-pagination {
  position: relative !important;
  height: 20px;
}

.swiper-pagination-bullet {
  margin: 0 4px !important;
  border: solid 1px #fff;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 11px !important;
  background: #007aff;
  height: 11px !important;
  background: #fff !important;
}

.swiper-button-next {
  position: absolute;
  top: 40%;
  right: 3px;
  left: auto;
  fill: #000000 !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  position: absolute;
  top: 40%;
  left: -3px;
  right: auto;
  fill: #000000 !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

@media (max-width: 630px) {
  .news-section .w-container {
    max-width: 570px;
  }
}

@media (max-width: 425px) {
  .news-section .w-container {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  .news-image-container {
    width: 240px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 15px 0;
  }
}
