/* NEWS SECTION */

/* News Swiper */


.news-section .w-container {
  max-width: 1024px;
}

@media (max-width: 991px) {
  .news-section .w-container {
    max-width: 728px;
  }
}

.news-swiper {
  margin: 1em auto 0 auto;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.swiper-slide {
  width: 33.33333%;
}

.swiper-content {
  text-align: center;
}

.swiper-slide a {
  text-decoration: none;
}

.news-image-container {
  width: auto;
  height: 185px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 10px 20px 10px;
  border: solid 2px #0167b2;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.news-image-container:hover {
  border: solid 2px #fff;
  box-shadow: 4px 3px 7px 1px #111;
}

.news-image {
  border-radius: 10px;
}

.news-category {
  background-color: #e04098;
  width: 73px;
  height: 27px;
  padding: 1px 5px;
  color: #fff;
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: .05em;
  font-weight: 400;
  position: relative;
  top: 161px;
  left: -8px;
}

@media (max-width: 320px) {
  .news-category {
    top: 115px;
  }
}

.swiper-link {
  color: #fff;
  font-family: Gotham, sans-serif;
  font-size: 0.75em;
  line-height: 1.25em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05em;
}

.swiper-link:hover {}

.pagination-holder {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1em 0;
  text-align: center;
}

.swiper-pagination {
  position: relative !important;
  height: 20px;
}

.swiper-pagination-bullet {
  margin: 0 4px !important;
  border: solid 1px #fff;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 11px !important;
  background: #007aff;
  height: 11px !important;
  background: #fff !important;
}

.swiper-button-next {
  position: absolute;
  top: 95px;
  right: 3px;
  left: auto;
  fill: #fff !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  position: absolute;
  top: 95px;
  left: -3px;
  right: auto;
  fill: #fff !important;
  background: none !important;
  width: 25px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

@media (max-width: 630px) {
  .news-section .w-container {
    max-width: 570px;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 200px;
  }
}

@media (max-width: 425px) {
  .news-section .w-container {
    max-width: 400px;
  }
  .swiper-button-next {
    top: 35%;
    width: 20px;
    right: 12px;
  }
  .swiper-button-prev {
    top: 35%;
    width: 20px;
    left: 12px;
  }
}

@media (max-width: 320px) {
  .swiper-button-next {
    top: 29%;
    width: 20px;
    right: 8px;
  }
  .swiper-button-prev {
    top: 29%;
    width: 20px;
    left: 8px;
  }
  .news-image-container {
    width: 240px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 15px 0;
  }
}
