body {
  font-size: 1em;
  font-family: 'Helveticaneue condensed', sans-serif;
  color: #ffffff;
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.privacy-title {
  text-align: left;
    font-size: 2em;
    font-family: 'Helveticaneue condensed', sans-serif;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
body.page-privacy .main-content {
max-width: 700px;
}
.body-privacy {
  color: #ffffff;
}
.privacy-question {
  font-size: 1.15em;
color: #ffffff;
line-height: 1.25em;
}
.privacy-answer {
  color: #ffffff;
  font-size: .85em;
  line-height: 1.25em;
}
.main-content {
  margin-bottom: 0px;
}
.info-link {
  color: #bb9b33;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all 200ms ease;
  /* transition: color 200ms ease; */
}
.info-link:hover {
  color: #ffffff;
  border-bottom: 1px solid #bb9b33;
}
@media (max-width: 767px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.home-link.privacy {
  color: #bb9b33;
  text-decoration: none;
letter-spacing: 0em;
  font-size: 1em;
  -webkit-transition:  200ms ease;
  transition:  200ms ease;
}
.home-link.privacy:hover {
  color: #fff;

}
