/* OVERRIDES */
.tickets-button-wrapper a {
    color: #ffffff;
    text-decoration: none;
}
/* FORM OVERRIDES */
.signup-input {
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: -.25em;
  color: #000000;
}
.signup-submit {
  height: 49px;
}

@media (min-width: 479px) and (max-width: 660px) {
  .signup-input {
      width: 250px;
  }
}
.submit-button.send-button {
  width: 115px;
  height: 49px;
  padding: 13px 17px;
  border: 1px solid #c19a01;
  background-color: #c19a01;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Lulo Clean Bold', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
}

.submit-button.send-button:hover {
  border: 1px solid #c19a01;
  background-color: #000;
}

.form {
  justify-content: center;
}

.preview-line {
  margin-top: 0;
}


/* PRIVACY POLICY */

.privacy-wrapper {
color: #ffffff;
}
h1.privacy-title {
letter-spacing: 0em;
text-align: center;
  font-family: 'Lulo Clean Bold', sans-serif;

}
